﻿/* formar a cambiar el color del menu desplegable*/
    .alert_error {
        background-color: #f8d7da !important;
        border-left: 8px solid #d00b0b;
        border-top:1px solid #f5c6cb;
        border-bottom:1px solid #f5c6cb;
        border-right:1px solid #f5c6cb;
        color:#a94442;
        border-radius: 10px;
        margin: 8px;
        padding: 5px;
    }
    td.details-control {
        background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    
    tr.shown td.details-control {
        background: url('../img/details_close.png') no-repeat center center;
    }
    /* spinerrr */
    .lds-hourglass {
        display: inline-block;
        position: relative;
        width: 84px;
        height: 84px;
    }

    .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 40px solid #fff;
        border-color: #a10016 transparent #a10016 transparent;
        animation: lds-hourglass 1.2s infinite;
    }

    @keyframes lds-hourglass {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    
        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        100% {
            transform: rotate(1800deg);
        }
    }

             
    /*estilo de barra titulo de acordion hnrb*/
     .card-header {
         background-color:#a10016 !important;
         background-image: linear-gradient(180deg,#da4559 10%,#a10016 30%) !important;
     }
     .card-header h5 {
         color:white !important;
     }

    .top-buffer {
        margin-top: 10px;
    }

    .icon {
        text-align: center;
        margin-top: 0em;
    }

    .fa.fa-home, .fa-eye, .fa-futbol-o, .fa-heart-o {
        border-radius: 50%;
        background: #b4b4b4;
    }

    .fa-eye {
        border-radius: 50%;
        background: #b4b4b4;
    }

    .fa-eye:hover {
        background: #EA6212;
    }

    .fa-futbol-o:hover {
        background: #EA6212;
    }

    .fa-heart-o:hover {
        background: #EA6212;
    }

    .fa.fa-home:hover {
        background: #EA6212;
    }

    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .hovereffect:hover .overlay {
        background-color: rgba(170,170,170,0.4);
    }
    
    .hovereffect h2, .hovereffect img {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .hovereffect:hover img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    
    .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
    }
    
    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        font-weight: normal;
        height: 85%;
        width: 85%;
        position: absolute;
        top: -20%;
        left: 8%;
        padding: 70px;
    }
    
    .hovereffect:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: rgba(0,0,0,0.4);
    }


/*SINCERAMIENTO*/

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc_disabled {
        background: #a10016;
    }

    .table .thead-dark th {
        border-color: #ced4da;
		background-color:#a10016;
        border:1px solid white;
    }

    .dataTables_filter input {
        border: 1px solid #ced4da;
    }

    .dataTables_length select {
        border: 1px solid #ced4da;
    }
    /*.form-control {
            height: 36px;
        }*/
    .sortable tr {
        cursor: pointer;
    }

    a:hover {
      color: #a10016;
    }
    
    .imgReniecInterno {
        width: 160px;
        height: 200px;
    }
    .imgHuella {
        height: 160px;
        width: 160px;
    }

    .imgInternoRegistro {
        width: 200px;
        height: 270px;
    }
}    .imgInternoIngreso {
        width: 150px;
        height: 150px;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #a10016;
    }

/*estilo de barra titulo de acordion hnrb*/
     .card-header {
         background-color:#a10016 !important;
         background-image: linear-gradient(180deg,#da4559 10%,#a10016 30%) !important;
     }
     .card-header h5 {
         color:white !important;
     }

        .toast-error {
            background-color: #7d0011 !important;
        }
        .modal-header {
            padding: 0.4rem !important;
        }