﻿/*********** Steps Start***************/
.horizontal-tabs-steps {
  position: relative;
}

.horizontal-tabs-steps .nav-item {
  z-index: 1;
  position: relative;
}

.horizontal-tabs-steps .nav-item:after {
  content: "";
  border-top: 5px dotted #9C0013;
  position: absolute;
  z-index: 0;
  top: 12px;
  width: 265px;
  left: 0px;
  transition: border 1s ease-out;
  transition-delay: 0s, 0s, 0.1s;
}

.horizontal-tabs-steps .nav-item:last-child:after {
  content: "";
  border-top: 0px dotted #9C0013;
}

.horizontal-tabs-steps .nav-item.complete-step:after {
  content: "";
  border-top: 5px dotted #9C0013;
  position: absolute;
  z-index: 0;
  top: 12px;
  width: 265px;
  left: 0px;
  transition: border 1s ease-out;
  transition-delay: 0s, 0s, 0.1s
}

.horizontal-tabs-steps .nav-link {
  background: #fff;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  color: #9C0013;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 2px solid #9C0013;
  z-index: 1;
  position: relative;
}

.horizontal-tabs-steps .nav-link:hover {
  background: #9C0013;
  border: 2px solid #9C0013;
  color: #fff !important;
  transition: 0.3s all;
}

.horizontal-tabs-steps .nav-link:hover .horizontal-tabs-steps .nav-link span {
  color: #fff !important;
}

.horizontal-tabs-steps .nav-item h6 {
  font-size: 12px;
}

.horizontal-tabs-steps .nav-item.show .nav-link, .horizontal-tabs-steps .nav-link.active {
  color: #fff;
  background-color: #9C0013;
  border-color: #9C0013;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.horizontal-tabs-steps .nav-link.active span {
  color: #fff;
  font-weight: 500 !important;
}

.horizontal-tabs-steps .checked-steps span {
  display: none;
}

.horizontal-tabs-steps .checked-steps {
  background-color: #9C0013 !important;
  border: 1px solid #9C0013 !important;
  color: #fff !important;
}

.horizontal-tabs-steps .checked-steps:after {
  content: "\f00c";
  font-family: FontAwesome;
  color: #fff;
}

/*********** Steps End***************/

/*********** Platform Content start***************/
.platform-content .tab-pane h3 {
  font-size: 15px;
  font-weight: 500 !important;
}

.platform-content .tab-pane p {
  font-size: 12px;
}

.vertical-tabs-steps.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #9C0013;
  border-color: #9C0013;
  font-size: 12px !important;
}

.vertical-tabs-steps .nav-link {
  color: #3c4858;
  border: 1px solid #9C0013;
  font-size: 12px !important;
  margin-bottom: 45px;
  border-radius: 15px 15px 0px 15px;
  padding: 10px;
  text-align: center;  
  background: #fff;
  position: relative;
  z-index: 1;  
  width: 84px;
}

.vertical-tabs-steps .nav-link.checked-steps {
  text-align: left;
}

.vertical-tabs-steps .nav-link:hover {
  color: #fff;
  background-color: #9C0013 !important;
  border-color: #9C0013;
  transition: 0.3s all;
}

.vertical-tabs-steps .nav-item {
  position: relative;
}

.vertical-tabs-steps .nav-item:last-child:after {
  content: "";
  border-bottom: 0px !important;
}

.vertical-tabs-steps .nav-item:after {
  content: "";
  border-bottom: 3px dotted #9C0013;
  position: absolute;
  width: 95px;
  transform: rotate(90deg);
  z-index: 0;
  left: -10px;
  top: 50px;
  transition: border 1s ease-out;
  transition-delay: 0s, 0s, 0.1s;
}

.vertical-tabs-content {
  padding: 0px 15px;
}

.vertical-tabs-content p {
  font-size: 12px;
}

.vertical-tabs-steps .checked-steps {
  background-color: #9C0013 !important;
  border: 1px solid #9C0013 !important;
  color: #fff !important;
}

.vertical-tabs-steps .checked-steps:after {
  content: "\f00c";
  font-family: FontAwesome;
  color: #fff;
  position: absolute;
  right: 10px;
}

.vertical-tabs-content .tab-pane h3 {
  font-size: 15px;
  font-weight: 500 !important;
}

.vertical-tabs-steps .checked-border-item.nav-item:after {
  content: "";
  border-bottom: 0px dotted #ccc !important;
  position: absolute;
  width: 95px;
  transform: rotate(90deg);
  z-index: 0;
  left: -10px;
  top: 50px;
  transition: border 1s ease-out;
  transition-delay: 0s, 0s, 0.1s;
}

.vertical-tabs-steps .nav-item.complete-step:after {
  content: "";
  border-bottom: 3px dotted #9C0013 !important;
  position: absolute;
  width: 95px;
  transform: rotate(90deg);
  z-index: 0;
  left: -10px;
  top: 50px;
}

/*********** Platform Content End***************/


/*********** Responsive CSS Start***************/

@media only screen and (max-width: 575px) {
  .vertical-tabs-steps .nav-link {
    width: 73px;
  }  

  .vertical-tabs-steps .nav-link.checked-steps {
    padding: 10px 7px;
  }  

  .vertical-tabs-steps .checked-steps:after {
    content: "\f00c";
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    right: 7px;
  }  
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 219px;
  } 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 160px;
  } 
}

@media only screen and (min-width: 421px) and (max-width: 767px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 115px;
  } 
}

@media only screen and (max-width: 420px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 95px;
  } 
}
/*********** Responsive CSS End***************/
