﻿ .toast-top-right {
            top: 3px;
            right: 17px;
        }
        /* This is the default state */
        .custom-radio .custom-control-label::before {
            background-color: #babdbf; /* orange */
        }

        /* This is the checked state */
        .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
        .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
            background-color: #a10016; /* green */
            /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
            border-radius: 50%;
        }

        /* active state i.e. displayed while the mouse is being pressed down */
        .custom-radio .custom-control-input:active ~ .custom-control-label::before {
            color: #fff;
            background-color: #a10016; /* red */
        }

        /* the shadow; displayed while the element is in focus */
        .custom-radio .custom-control-input:focus ~ .custom-control-label::before {
            box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(161, 0, 22, 0.3); /* pink, 25% opacity */
        }

        .form {
            max-width: 600px;
            font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
            font-weight: normal;
            line-height: 1.625;
            margin: 8px auto;
            padding: 16px;
        }

   