﻿@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<html>
    <head>
        <link rel="icon" type="image/x-icon" href="~/assets/images/favicon.ico" />

        <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
        <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="~/assets/css/style.css">

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="~/assets/js/main.js"></script>

        <title>LETSHOP - @ViewData["Title"]</title>

    </head>
    <body class="bg-imagen">
        <!-- Right Panel -->
        <div id="center-panel" class="center-panel">
            <!-- Header-->
            <header id="header" class="header"><br><br><br></header>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  Traffic  -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2>Iniciar Sesión</h2><br>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img class="image" src="~/assets/images/letras_negras.png" alt="Logo">
                                        </div>
                                        <div class="col-lg-7">
                                            <label class="label-primary">Usuario</label><br>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="usuarioabc" maxlength="15" id="usuario">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            </div>
                                            <br>
                                            <label class="label-primary">Contraseña</label><br>
                                            <div class="input-group">
                                                <input type="password" class="form-control" placeholder="********" maxlength="20" id=".clave">
                                                <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                                            </div>
                                            <br>
                                            <label>
                                                <input type="checkbox">
                                                <i class="check-box"></i>
                                                <span> Recordarme</span>
                                            </label>
                                            <br>
                                            <button type="button"
                                                    class="btn btn-success btn-lg btn-block">
                                                Iniciar Sesión
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /# column -->
                    </div>
                    <!--  /Traffic -->
                </div>
                <!-- .animated -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /#right-panel -->
    </body>
</html>

