﻿<!DOCTYPE html>
<style>
    .logoLetaco {
        height: 70px;
        width: 210px;
    }

    .logoMiniLetaco {
        height: 21px;
        width: 20px;
    }
</style>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaVentasLetacoSolution</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/miniLogo_Letaco.png">

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/plugins/toastr/css/toastr.min.css" rel="stylesheet" />
    @*<link href="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="~/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />*@
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>*@

    <!-- Pignose Calender -->
    <link href="~/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet datetimepicker -->
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

    <link href="~/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">

    <link href="~/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="~/plugins/toastr/css/toastr.min.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>

<body>


    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <!--**********************************
            Main wrapper start
        ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href='@Url.Action("Menu","Home")'>
                    <b class="logo-abbr"><img class="logoMiniLetaco" src="~/images/miniLogo_Letaco.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img class="logoLetaco" src="~/images/logo_letaco.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar...">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 New Messages</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-1">3</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="~/images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Saiful Islam</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="~/images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Adam Smith</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Can you do me a favour?</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="~/images/avatar/3.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Barak Obama</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="~/images/avatar/4.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Hilari Clinton</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hello</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>Español</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">Español</a></li>
                                        <li><a href="javascript:void()">English</a></li>
                                        <li><a href="javascript:void()">Dutch</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>

                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->

        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">

                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("Menu","Home")'>Inicio</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                    </li>
                    <li class="">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Configuración</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("TablaSUNAT","Configuracion")'>Tabla Sunat</a></li>
                            @*<li><a href="~/TablaSUNAT.html">Tabla Sunat</a></li>*@
                            <li><a href='@Url.Action("GestionBancos","Configuracion")'>Gestión Bancos</a></li>
                            <li><a href='@Url.Action("Almacen","Configuracion")'>Almacén</a></li>
                            <li><a href='@Url.Action("Otros","Configuracion")'>Otros</a></li>
                        </ul>
                    </li>
                    @*<li class="nav-label">Apps</li>*@
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-lock menu-icon"></i> <span class="nav-text">Seguridad</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("Objeto","Seguridad")'>Objeto</a></li>
                            <li><a href='@Url.Action("Pantalla","Seguridad")'>Pantalla</a></li>
                            <li><a href='@Url.Action("Roles","Seguridad")'>Roles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-home menu-icon"></i><span class="nav-text">Empresa</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("DatosGenerales","Empresa")'>Datos Generales</a></li>
                            <li><a href='@Url.Action("Sucursal","Empresa")'>Sucursal</a></li>
                            <li><a href='@Url.Action("Cargo","Empresa")'>Cargo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-user menu-icon"></i> <span class="nav-text">RR.HH</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("Persona","RecursosHumanos")'>Persona</a></li>
                            <li><a href='@Url.Action("Colaborador","RecursosHumanos")'>Colaborador</a></li>
                            <li><a href='@Url.Action("Usuario","RecursosHumanos")'>Usuario</a></li>
                            <li><a href='@Url.Action("Contrato","RecursosHumanos")'>Contrato</a></li>
                            <li><a href='@Url.Action("HistorialContrato","RecursosHumanos")'>Historial de Contrato</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">Logística</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("SeccionAlmacen","Logistica")'>Almacén/Sección Almacén</a></li>
                            <li><a href='@Url.Action("MarcaModelo","Logistica")'>Marca/Modelo</a></li>
                            <li><a href='@Url.Action("FamiliaProductos","Logistica")'>Familia de Productos</a></li>
                            <li><a href='@Url.Action("Producto","Logistica")'>Producto</a></li>
                            <li><a href='@Url.Action("ClasificacionCliente","Logistica")'>Clasificación Cliente</a></li>
                            <li><a href='@Url.Action("Cliente","Logistica")'>Cliente</a></li>
                            <li><a href='@Url.Action("PrecioProducto","Logistica")'>Precio Producto</a></li>
                            <li><a href='@Url.Action("MovimientoAlmacen","Logistica")'>Movimiento Almacén</a></li>
                            <li><a href='@Url.Action("AprobacionMovimiento","Logistica")'>Aprobación de Movimiento</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">Caja / Bancos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("TipoCaja","CajaBancos")'>Tipo de Caja</a></li>
                            <li><a href='@Url.Action("MantBanco","CajaBancos")'>Mantenimiento de Banco</a></li>
                            <li><a href='@Url.Action("MantCaja","CajaBancos")'>Mantenimiento de Caja</a></li>
                            <li><a href='@Url.Action("CuentaBancaria","CajaBancos")'>Cuenta Bancaria</a></li>
                            <li><a href='@Url.Action("AsigEmpleadoCaja","CajaBancos")'>Asignación de Empleado a Caja</a></li>
                            <li><a href='@Url.Action("AperturaCierreCaja","CajaBancos")'>Apertura/Cierra de Caja</a></li>
                            <li><a href='@Url.Action("HistorialCaja","CajaBancos")'>Historial de Caja</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Compras</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("DocumentoCompra","Compras")'>Documento de Compra</a></li>
                            <li><a href='@Url.Action("AnulacionCompra","Compras")'>Anulación de Compra</a></li>
                            <li><a href='@Url.Action("NotaCreditoDebito","Compras")'>Nota de Crédito / Nota de Débito</a></li>
                            <li><a href='@Url.Action("RequirimientoCompra","Compras")'>Requerimiento de Compra</a></li>
                            <li><a href='@Url.Action("AprobRequirimientoCompra","Compras")'>Aprobación Requerimiento Compra</a></li>
                            <li><a href='@Url.Action("OrdenCompraProveedor","Compras")'>Orden de Compra Proveedor</a></li>
                            <li><a href='@Url.Action("CuentasPorPagar","Compras")'>Cuentas por Pagar</a></li>
                            <li><a href='@Url.Action("HistorialCompras","Compras")'>Historial de Compras</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Ventas</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("Venta","Ventas")'>Venta</a></li>
                            <li><a href='@Url.Action("AnulacionVenta","Ventas")'>Anulación de Venta</a></li>
                            <li><a href='@Url.Action("NotaCreditoDebito","Ventas")'>Nota de Crédito / Nota de Débito</a></li>
                            <li><a href='@Url.Action("CotizacionCliente","Ventas")'>Cotización a Cliente</a></li>
                            <li><a href='@Url.Action("CuentasPorCobrar","Ventas")'>Cuentas por Cobrar</a></li>
                            <li><a href='@Url.Action("HistorialVentas","Ventas")'>Historial de Ventas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Reportes</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href='@Url.Action("ReporteCompras","Reportes")'>Reportes de Compras</a></li>
                            <li><a href='@Url.Action("ReporteVentas","Reportes")'>Reportes de Ventas</a></li>
                            <li><a href='@Url.Action("ReporteAlmacen","Reportes")'>Reportes de Almacén</a></li>
                            <li><a href='@Url.Action("ReporteColaboradores","Reportes")'>Reportes de Colaboradores</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!--**********************************
            Sidebar end
        ***********************************-->


        @RenderBody()

        <!--**********************************
            Footer start
        ***********************************-->
        @*<div class="footer">
                <div class="copyright">
                    <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
                </div>
            </div>*@


        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; LETACO SOLUTIONS 2021 - SISTEMA DE VENTAS - Versión 1.0</p>
            </div>
        </div>

    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/plugins/d3v3/index.js"></script>
    <script src="~/plugins/topojson/topojson.min.js"></script>
    @*<script src="~/plugins/datamaps/datamaps.world.min.js"></script> Descomentar*@
    <!-- Morrisjs -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    @*<script src="~/js/dashboard/dashboard-1.js"></script> Descomentar*@
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    @*<script src="~/js/plugins-init/form-pickers-init.js"></script>*@


    <script src="~/plugins/sweetalert/js/sweetalert.min.js"></script>
    @*<script src="./plugins/sweetalert/js/sweetalert.init.js"></script>*@

    <script src="~/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    <script src="@Url.Content("~/plugins/toastr/js/toastr.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var big_tag_spinner = '<div style="text-align:center; color:#b34602; font-weight: bold;">' +
            '<div class="lds-hourglass" style="margin-top : 10px"></div>' +
            '<div style="margin-bottom:10px;text-shadow: 0px 0px 10px white;">' +
            'Procesando....' +
            '</div>' +
            '</div>';
    </script>
    @*<script type="text/javascript">
        '<div id="divSpinner" class="modal fade" data-backdrop="static" data-keyboard="false" style="">' +
            '<div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="">' +
            '<div class="modal-content" id="divSpinnerContent" style="background-color:transparent !important; border:0px solid;">' +
            '</div>' +
            '</div>' +
            '</div>';
    </script>*@

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }
    @*@RenderSection("Scripts", false)*@
</body>


</html>
