﻿.d-border-1 {
            border: 1px solid rgb(161, 0, 22);
        }

        .imgHuellaRegistro {
            height: 123px;
            width: 100px;
        }

        .imgHuellaAmpliadaRegistro {
            height: 411px;
            width: 283px;
        }

        .content-body {
            margin-left: 7.5rem;
            z-index: 0;
        }

        .toast-error {
            background-color: #7d0011;
        }

        .toast-top-right {
            top: 3px;
            right: 17px;
        }

        .span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
            content: "";
            display: inline-block;
            background: #a10016;
            width: 0;
            height: 0.2rem;
            position: absolute;
            transform-origin: 0% 0%;
        }

        .chiller_cb {
            position: relative;
            height: 2rem;
            display: flex;
            align-items: center;
        }

            .chiller_cb input {
                display: none;
            }

                .chiller_cb input:checked ~ span {
                    /*background: transpa;*/
                    border-color: transparent;
                }

                    .chiller_cb input:checked ~ span:before {
                        width: 1rem;
                        height: 0.15rem;
                        transition: width 0.1s;
                        transition-delay: 0.3s;
                    }

                    .chiller_cb input:checked ~ span:after {
                        width: 0.4rem;
                        height: 0.15rem;
                        transition: width 0.1s;
                        transition-delay: 0.2s;
                    }

                .chiller_cb input:disabled ~ span {
                    background: #ececec;
                    border-color: #dcdcdc;
                }

                .chiller_cb input:disabled ~ label {
                    color: #dcdcdc;
                }

                    .chiller_cb input:disabled ~ label:hover {
                        cursor: default;
                    }

            .chiller_cb label {
                padding-left: 2rem;
                position: relative;
                z-index: 2;
                cursor: pointer;
                margin-bottom: 0;
            }

            .chiller_cb span {
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                border: 2px solid #ccc;
                position: absolute;
                left: 0;
                transition: all 0.2s;
                z-index: 1;
                box-sizing: content-box;
            }

                .chiller_cb span:before {
                    transform: rotate(-55deg);
                    top: 1rem;
                    left: 0.37rem;
                }

                .chiller_cb span:after {
                    transform: rotate(35deg);
                    bottom: 0.35rem;
                    left: 0.2rem;
                }

        .dataTables_wrapper {
            padding-top: 0px;
        }

        table.dataTable {
            margin-top: 0px !important;
        }

        .modal-dialog {
            max-width: 60%;
            margin: 1.75rem auto;
        }

        .modal-senaparticular {
            width: 650px;
            margin: auto;
        }