﻿@model SistemaVentasLetacoSolution.ViewModels.RecursosHumanos.RecursosHumanosViewModel
@{
    ViewBag.Title = "Colaborador";
}
@section AddToHead{
    <style type="text/css">
        .subirArchivo {
            display: none;
        }

        i.fa-upload {
            margin: -2px;
            /*cursor: pointer;*/
            font-size: 28px;
        }
    </style>
}
<div class="content-body">
    <div class="basic-list-group">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size:large"><b>COLABORADOR</b></li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-4">
                                        <b>REGISTRAR COLABORADOR:</b>
                                        <spa style="float:right">
                                            <a href="#!" onclick="GuardarDatos()">
                                                <span class="fa-stack mb-0 ml-4" aria-hidden="true">
                                                    <i class="fa fa-floppy-o fa-stack-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Guardar Información"></i>
                                                </span>
                                                <span>
                                                </span>
                                            </a>
                                        </spa>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-9 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.dni, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.dni, new { @class = "form-control letaco-input", placeholder = "Ingresar número de DNI", @maxlength = "8", @autocomplete = "off", @onkeypress = "return ValidaNumeros(event);", @id = "dni" })
                                            </div>
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.Nombres, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control letaco-input", placeholder = "Ingresar Nombres", @maxlength = "40", @autocomplete = "off", @onkeypress = "return ValidaLetrasEspacio(event);", @id = "Nombres" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.Paterno, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.Paterno, new { @class = "form-control letaco-input", placeholder = "Ingresar Apellido Paterno", @maxlength = "25", @autocomplete = "off", @onkeypress = "return ValidaLetras(event);", @id = "Paterno" })
                                            </div>
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.Materno, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.Materno, new { @class = "form-control letaco-input", placeholder = "Ingresar Apellido Materno", @maxlength = "25", @autocomplete = "off", @onkeypress = "return ValidaLetras(event);", @id = "Materno" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(model => model.FechaNacimiento, new { @class = "text-black" })
                                                @Html.TextBoxFor(model => model.FechaNacimiento, new { @id = "FechaNacimiento", @class = "form-control letaco-input micalendario", placeholder = "Ingresar Fecha de Nacimiento" @*, @readonly = "readonly"*@})
                                            </div>
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.DepartamentoNombre, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.DepartamentoNombre, new { @class = "form-control letaco-input", placeholder = "Ingresar Departamento", @maxlength = "40", @autocomplete = "off", @onkeypress = "return ValidaLetrasEspacio(event);", @id = "Departamento" })
                                                @*@Html.DropDownListFor(x => x.DepartamentoNombre, ViewBag.lstDepartamento as IEnumerable<SelectListItem>, "[Seleccionar opción]", new { @class = "form-control letaco-input", @id = "lstDepartamento" })*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.ProvinciaNombre, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.ProvinciaNombre, new { @class = "form-control letaco-input", placeholder = "Ingresar Provincia", @maxlength = "40", @autocomplete = "off", @onkeypress = "return ValidaLetrasEspacio(event);", @id = "Provincia" })
                                            </div>
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.DistritoNombre, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.DistritoNombre, new { @class = "form-control letaco-input", placeholder = "Ingresar Distrito", @maxlength = "40", @autocomplete = "off", @onkeypress = "return ValidaLetrasEspacio(event);", @id = "Distrito" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-4">
                                                @Html.LabelFor(x => x.Direccion, new { @class = "text-black" })
                                                @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control letaco-input", placeholder = "Ingresar Dirección", @maxlength = "40", @autocomplete = "off", @onkeypress = "return ValidaLetrasEspacio(event);", @id = "Direccion" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <div style="text-align:center">
                                            <div class="row">
                                                <label class="col-lg-12 col-sm-12 text-black">FOTO</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <img src="~/images/perfilfrente.png"><br />
                                                    @*@if (Model.Foto_64bits == null)
                                                        {
                                                            <img src="/Content/img/perfilfrente.png" class="imgInternoRegistro" id="imgFrente" />
                                                        }
                                                        else
                                                        {
                                                            if (Model.Foto_64bits == "")
                                                            {
                                                                <img src="/Content/img/perfilfrente.png" class="imgInternoRegistro" id="imgFrente" />
                                                            }
                                                            else
                                                            {
                                                                var imgSrc = String.Format("data:image/png;base64,{0}", Model.Foto_64bits);
                                                                <img src="@imgSrc" class="imgInternoRegistro" id="imgFrente" />
                                                            }
                                                        }
                                                        <canvas style="display:none;" width="200" height="270" id="micanvas1"></canvas>
                                                        <video width="200" height="270" id="mivideo1" autoplay style="vertical-align:middle"></video>*@
                                                    @*<br />*@
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row ">
                                                <div class="icon col-lg-12 col-sm-12">
                                                    <a href="#!" id="btnCargar1">
                                                        <span class="fa-stack mb-0 ml-3" aria-hidden="true">
                                                            <i1 class="fas fa-upload fa-stack-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Cargar Foto"></i1>
                                                            <input class="subirArchivo" type="file" accept=".jpg,.png" name="btnCargarFoto1" id="btnCargarFoto1">
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5 mb-4 justify-content-center">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="btnLimpiar"><i class="fa fa-eraser mr-1" aria-hidden="true"></i>&nbsp;&nbsp;LIMPIAR</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="btnGuardar"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>&nbsp;&nbsp;GUARDAR</button>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $("#btnLimpiar").click(function () {
            $('#dni').val('');
            $('#Paterno').val('');
            $('#Materno').val('');
            $('#Nombres').val('');
            $('#FechaNacimiento').val('');
            $('#Departamento').val('');
            $('#Provincia').val('');
            $('#Distrito').val('');
            $('#Direccion').val('');
        });

        //Cargar Foto
        $("#btnCargar1").on("click", function () {
            $("i1").click(function () {
                $("#btnCargarFoto1").trigger('click');
            });

            $('input[type="file"]').on('change', function () {
                var val = $(this).val();
                $(this).siblings('span').text(val);
            })
        });

        $(function () {
            debugger;
            $('#btnCargar1').change(function (e) {
                addImage(e);
            });

            function addImage(e) {
                var file = e.target.files[0],
                    imageType = /image.*/;

                if (!file.type.match(imageType))
                    return;

                var reader = new FileReader();

                reader.onload = function (e) {
                    var result = e.target.result;
                    //var separa = result.split(",")[1];
                    $('#imgFrente').attr("src", result);
                    //$('#txtFotoAJ').val(separa);
                }

                reader.readAsDataURL(file);
            }
        });

        function ValidaNumeros(e) {
            if (event.charCode >= 48 && event.charCode <= 57) {
                return true;
            }
            return false;
        }

        function ValidaLetras(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toString();
            letras = "áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
            especiales = [8]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }

        function ValidaLetrasEspacio(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toString();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
            especiales = [8]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }

        $('.micalendario, #datepicker').datepicker({
            language: "es",
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    </script>
}


