﻿@*@model SistemaVentasLetacoSolution.ViewModels.RecursosHumanos.RecursosHumanosViewModel*@
@*@model Entidades.ENT_Usuario*@
@{
    ViewBag.Title = "Persona";
}
@section AddToHead{
    <style type="text/css">
        .subirArchivo {
            display: none;
        }

        i.fa-upload {
            margin: -2px;
            /*cursor: pointer;*/
            font-size: 28px;
        }
    </style>
}

<div class="content-body">
    <div class="basic-list-group">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size:large"><b>PERSONA</b></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" id="seccionBuscar" disabled="disabled">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-4">
                                        <h4><b>BUSCAR</b></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-4">
                                        <label for="cboTipoPersona" class="text-black">Tipo Persona</label>
                                        <select id="cboTipoPersona" class="form-control letaco-input"></select>
                                    </div>
                                    <div class="col-lg-3 col-sm-4">
                                        <label for="cboTipoDocIdentidad" class="text-black">Tipo Doc</label>
                                        <select id="cboTipoDocIdentidad" class="form-control letaco-input" disabled="disabled">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-4">
                                        <label for="documento" class="text-black">Documento de Identidad</label>
                                        <input type="text" id="documento" class="form-control letaco-input" placeholder="Documento de Identidad" autocomplete="off" disabled="disabled" />
                                    </div>
                                    <a style="color:darkcyan;visibility: hidden" id="btnBuscarReniec">
                                        <br /><br />
                                        <span type="button" class="fa-stack" aria-hidden="true">
                                            <i class="fas fa-search fa-stack-2x red-tooltip" aria-hidden="true" data-toggle="modal" data-placement="bottom" title="Validar Documento"></i>
                                        </span>
                                    </a>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="cardRegistrar" style="visibility:hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-4">
                                        <h4><b>REGISTRAR</b></h4>
                                    </div>
                                </div>
                                <div class="row" id="datosEntidad" style="visibility:hidden">
                                    <div class="row col-lg-12 col-sm-4">
                                        <div class="col-lg-9 col-sm-4">
                                            <div class="row col-lg-12 col-sm-4">
                                                <div class="col-lg-6 col-sm-4">
                                                    <label id="lbl_nombres_razSoc" for="nombres_razSoc" class="text-black"></label>
                                                    <input type="text" id="nombres_razSoc" class="form-control letaco-input" autocomplete="off" maxlength="255" />
                                                </div>
                                                <div class="col-lg-6 col-sm-4">
                                                    <label id="lbl_apellidos_nomCom" for="apellidos_nomCom" class="text-black"></label>
                                                    <input type="text" id="apellidos_nomCom" class="form-control letaco-input" autocomplete="off" maxlength="255" />
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 col-sm-4">
                                                <div class="col-lg-6 col-sm-4">
                                                    <label id="lbl_fecNac_iniActv" for="fecNac_iniActv" class="text-black"></label>
                                                    <input type="date" id="fecNac_iniActv" class="form-control letaco-input" autocomplete="off" maxlength="10" />
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 col-sm-4">
                                                <br>
                                            </div>
                                            <div class="row col-lg-12 col-sm-4">
                                                <div class="col-lg-12 col-sm-4">
                                                    <h4><b><label class="text-black">Persona es:</label></b></h4>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 col-sm-4" id="persona">
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_cliente" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_cliente" for="chx_cliente" class="text-black">&nbsp;Cliente</label>
                                                </div>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_proveedor" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_proveedor" for="chx_proveedor" class="text-black">&nbsp;Proveedor</label>
                                                </div>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_socio" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_socio" for="chx_socio" class="text-black">&nbsp;Socio</label>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 col-sm-4" id="persona_juridica">
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_banco" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_banco" for="chx_banco" class="text-black">&nbsp;Banco</label>
                                                </div>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_afp" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_afp" for="chx_afp" class="text-black">&nbsp;AFP</label>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 col-sm-4" id="persona_natural">
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_colaborador" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_colaborador" for="chx_colaborador" class="text-black">&nbsp;Colaborador</label>
                                                </div>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input type="checkbox" id="chx_familiar" class="checkbox-inline" style="cursor:pointer" />
                                                    <label id="lbl_familiar" for="chx_familiar" class="text-black">&nbsp;Familiar</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-4">
                                            <div class="row col-lg-12 col-sm-4">
                                                <div class="col-lg-9 col-sm-4" style="text-align:center">
                                                    <h4><b>FOTO</b></h4>                                                    
                                                </div>
                                                <div class="col-lg-3 col-sm-4">
                                                    <a href="#!" id="btnCargar1">
                                                        <span class="fa-stack mb-0 ml-3" aria-hidden="true">
                                                            <i1 class="fas fa-upload fa-stack-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Cargar Foto"></i1>
                                                            <input class="subirArchivo" type="file" accept=".jpg,.png" name="btnCargarFoto1" id="btnCargarFoto1">
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <img id="imgFrente" class="col-lg-12 col-sm-4" src="~/images/perfilfrente.png" height="270"><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-lg-12 col-sm-4">
                                        <br><br><br>
                                    </div>
                                    <div class="row col-lg-12 col-sm-4">
                                        <div class="col-lg-12 col-sm-4">
                                            <div class="col-xs-12 ">
                                                <nav>
                                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link" id="nav-empresa-tab" data-toggle="tab" href="#nav-empresa" role="tab" aria-controls="nav-empresa" aria-selected="false" style="visibility:hidden">Empresa</a>
                                                        <a class="nav-item nav-link" id="nav-banco-tab" data-toggle="tab" href="#nav-banco" role="tab" aria-controls="nav-banco" aria-selected="false" style="visibility:hidden">Banco</a>
                                                        <a class="nav-item nav-link" id="nav-afp-tab" data-toggle="tab" href="#nav-afp" role="tab" aria-controls="nav-afp" aria-selected="false" style="visibility:hidden">AFP</a>
                                                        <a class="nav-item nav-link" id="nav-natural-tab" data-toggle="tab" href="#nav-natural" role="tab" aria-controls="nav-natural" aria-selected="false" style="visibility:hidden">Natural</a>
                                                        <a class="nav-item nav-link" id="nav-colaborador-tab" data-toggle="tab" href="#nav-colaborador" role="tab" aria-controls="nav-colaborador" aria-selected="false">Colaborador</a>
                                                        <a class="nav-item nav-link" id="nav-familiar-tab" data-toggle="tab" href="#nav-familiar" role="tab" aria-controls="nav-familiar" aria-selected="false" style="visibility:hidden">Familiar</a>
                                                        <a class="nav-item nav-link" id="nav-cliente-tab" data-toggle="tab" href="#nav-cliente" role="tab" aria-controls="nav-cliente" aria-selected="false" style="visibility:hidden">Cliente</a>
                                                        <a class="nav-item nav-link" id="nav-proveedor-tab" data-toggle="tab" href="#nav-proveedor" role="tab" aria-controls="nav-proveedor" aria-selected="false" style="visibility:hidden">Proveedor</a>
                                                        <a class="nav-item nav-link" id="nav-socio-tab" data-toggle="tab" href="#nav-socio" role="tab" aria-controls="nav-socio" aria-selected="false" style="visibility:hidden">Socio</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                                    <div class="tab-pane fade" id="nav-empresa" role="tabpanel" aria-labelledby="nav-empresa-tab" style="visibility:hidden">
                                                        <div class="row col-lg-12 col-sm-4">
                                                            <div class="col-lg-3 col-sm-4">
                                                                <label for="cboTipoActividad" class="text-black">Actividad Económica</label>
                                                                <select id="cboTipoActividad" class="form-control letaco-input">
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-3 col-sm-4">

                                                            </div>
                                                            <div class="col-lg-3 col-sm-4">

                                                            </div>
                                                            <div class="col-lg-3 col-sm-4">

                                                            </div>
                                                        </div>
                                                        <div class="row col-lg-12 col-sm-4">

                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-banco" role="tabpanel" aria-labelledby="nav-banco-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-afp" role="tabpanel" aria-labelledby="nav-afp-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-natural" role="tabpanel" aria-labelledby="nav-natural-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-colaborador" role="tabpanel" aria-labelledby="nav-colaborador-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-familiar" role="tabpanel" aria-labelledby="nav-familiar-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-cliente" role="tabpanel" aria-labelledby="nav-cliente-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-proveedor" role="tabpanel" aria-labelledby="nav-proveedor-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-socio" role="tabpanel" aria-labelledby="nav-socio-tab" style="visibility:hidden">
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-2 col-sm-4">
                                        <label for="usr" class="text-black"></label>
                                        <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="btnGuardar"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalBuscarPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="width:800px;" role="document">
                <div class="modal-content">
                    <div class="modal-header mt-2 ml-2">
                        <h5 class="modal-title" id="exampleModalLabel" style="color:darkcyan">Buscar Persona</h5>
                    </div>

                    <div class="modal-body">

                        <label for="lblPersona" id="lblPersona" class="text-black"></label>

                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary-letaco letaco-button" data-dismiss="modal" id="btnCancelar">Descartar Datos</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary-letaco letaco-button" data-toggle="collapse" data-dismiss="modal" style="vertical-align: middle;" id="btnAceptar">Usar Datos</button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

@section scripts{
    <script type="text/javascript">

        var entidadPersona;
        var codSunatElegido;

        jQuery(document).ready(function () {
            cargaTipoPersona();
        });

        $("#btnGuardar").click(function () {
            GuardarDatos();
        });

        $("#cboTipoPersona").change(function () {
            cargaTipoDocIdentidad();
            $("#documento").val('');
            agregarAtributoControl('documento', 'disabled', 'disabled');
            quitarAtributoControl('datosEntidad', 'style');
            agregarAtributoControl('datosEntidad', 'style', 'visibility:hidden');
            quitarAtributoControl('cardRegistrar', 'style');
            agregarAtributoControl('cardRegistrar', 'style', 'visibility:hidden');

            DeshabilitarTabs(1);
            habilitarxTipoPersona();
            limpiarCamposPrincipales();
            nombrarControlesEntidad();
        });

        $("#cboTipoDocIdentidad").change(function (e) {
            $("#documento").attr('disabled', 'disabled');

            var cifrasValidacion = $('option:selected', this).attr('cifrasValidacion');
            var digitosExactos = $('option:selected', this).attr('digitosExactos');
            var codSunat = $('option:selected', this).attr('codSunat');

            quitarAtributoControl('documento', 'disabled');
            $("#documento").val('');
            agregarAtributoControl('documento', 'maxlength', cifrasValidacion);
            agregarAtributoControl('documento', 'digitosExactos', digitosExactos);
            agregarAtributoControl('documento', 'codSunat', codSunat);

            $("#btnBuscarReniec").removeAttr('style');
            if (codSunat == "01" || codSunat == "06")
                agregarAtributoControl('btnBuscarReniec', 'style', 'color:darkcyan;visibility:visible');
            else
                agregarAtributoControl('btnBuscarReniec', 'style', 'color:darkcyan;visibility:hidden');
        });

        $("#documento").keypress(function (e) {

            key = e.keyCode || e.which;

            if (key == 13) {
                codSunatElegido = $("#documento").attr('codSunat');

                var cifrasValidacion = $("#documento").attr('maxlength');
                var digitosExactos = $("#documento").attr('digitosExactos');
                var documento = $("#documento").val();

                if (documento != "") {
                    var respuesta = 0;
                    if (digitosExactos == 1) {
                        if (documento.length == cifrasValidacion)
                            respuesta = 1;
                    }

                    if (respuesta == 1) {
                        if (codSunatElegido == "06" || codSunatElegido == "01")
                            ObtenerDatosPersona();
                        else {
                            quitarAtributoControl('datosEntidad', 'style');
                            quitarAtributoControl('cardRegistrar', 'style');
                            quitarAtributoControl('seccionBuscar', 'disabled');
                        }
                    }
                    else {
                        quitarAtributoControl('datosEntidad', 'style');
                        quitarAtributoControl('cardRegistrar', 'style');
                        agregarAtributoControl('seccionBuscar', 'disabled','disabled');
                    }
                }
                else {
                    quitarAtributoControl('datosEntidad', 'style');
                    agregarAtributoControl('datosEntidad', 'style', 'visibility:hidden');
                    quitarAtributoControl('cardRegistrar', 'style');
                    agregarAtributoControl('cardRegistrar', 'style', 'visibility:hidden');
                    agregarAtributoControl('seccionBuscar', 'disabled', 'disabled');
                }

            }
        });

        $("#btnBuscarReniec").click(function () {
            ObtenerDatosPersona();
        });

        $("#btnAceptar").click(function () {
            if (codSunatElegido == "01") {
                $("#nombres_razSoc").val(entidadPersona.name);
                $("#apellidos_nomCom").val(entidadPersona.first_name + " " + entidadPersona.last_name);
            }
            else {
                $("#nombres_razSoc").val(entidadPersona.RazonSocial);
                $("#apellidos_nomCom").val(entidadPersona.NombreComercial);
                $("#fecNac_iniActv").val(entidadPersona.FechaInscripcion.substring(0, 10));
            }
        });

        $("i1").click(function () {
            $("#btnCargarFoto1").trigger('click');
        });

        $('input[type="file"]').change(function () {
            var val = $(this).val();
            $(this).siblings('span').text(val);
        })

        $('#btnCargar1').change(function (e) {
            addImage(e);
        });

        $('#chx_banco').change(function () {
            habilitarCheck('banco');
        });

        $('#chx_cliente').change(function () {
            habilitarCheck('cliente');
        });

        $('#chx_proveedor').change(function () {
            habilitarCheck('proveedor');
        });

        $('#chx_colaborador').change(function () {
            habilitarCheck('colaborador');
        });

        $('#chx_afp').change(function () {
            habilitarCheck('afp');
        });

        $('#chx_familiar').change(function () {
            habilitarCheck('familiar');
        });

        $('#chx_socio').change(function () {
            habilitarCheck('socio');
        });

        function habilitarCheck(tabactual) {
            var eleccion = $('input:checkbox[id=chx_' + tabactual + ']:checked').val();

            DeshabilitarTabs(0);

            if (eleccion == "on") {
                habilitarTabEspecifico(tabactual, 1);
            }
            else {
                DeshabilitarTabEspecifico(tabactual, 1);
                habilitarxTipoPersona();
            }
        }

        function habilitarxTipoPersona() {
            var tipoPersona = $("#cboTipoPersona").val();

            agregarAtributoControl('persona_natural', 'style', 'visibility:hidden');
            agregarAtributoControl('persona_juridica', 'style', 'visibility:hidden');

            if (tipoPersona == 1) {
                habilitarTabEspecifico('natural', 1);
                quitarAtributoControl('persona_natural', 'style');
            }
            else if (tipoPersona == 2) {
                habilitarTabEspecifico('empresa', 1);
                quitarAtributoControl('persona_juridica', 'style');
                cargarActividadEconomica();
            }
            else {
                habilitarTabEspecifico('natural', 0);
                habilitarTabEspecifico('empresa', 1);
                quitarAtributoControl('persona_natural', 'style');
                quitarAtributoControl('persona_juridica', 'style');
            }
        }

        function DeshabilitarTabs(esconder) {
            DeshabilitarTabEspecifico('empresa',esconder);
            DeshabilitarTabEspecifico('natural', esconder);
            DeshabilitarTabEspecifico('banco', esconder);
            DeshabilitarTabEspecifico('cliente', esconder);
            DeshabilitarTabEspecifico('proveedor', esconder);
            DeshabilitarTabEspecifico('colaborador', esconder);
            DeshabilitarTabEspecifico('afp', esconder);
            DeshabilitarTabEspecifico('familiar', esconder);
            DeshabilitarTabEspecifico('socio', esconder);
        }

        function DeshabilitarTabEspecifico(tab, esconder) {
            if (esconder == 1) {
                agregarAtributoControl("nav-" + tab, 'style', 'visibility:hidden');
                agregarAtributoControl("nav-" + tab + "-tab", 'style', 'visibility:hidden');
            }
            agregarAtributoControl("nav-" + tab, 'class', 'tab-pane fade');
            agregarAtributoControl("nav-" + tab + "-tab", 'class', 'nav-item nav-link');
            agregarAtributoControl("nav-" + tab + "-tab", 'aria-selected', 'false');
        }

        function habilitarTabEspecifico(tab, activar) {
            quitarAtributoControl("nav-" + tab, 'style');
            quitarAtributoControl("nav-" + tab + "-tab", 'style');
            if (activar == 1) {
                agregarAtributoControl("nav-" + tab, 'class', 'tab-pane fade show active');
                agregarAtributoControl("nav-" + tab + "-tab", 'class', 'nav-item nav-link active');
                agregarAtributoControl("nav-" + tab + "-tab", 'aria-selected', 'true');
            }
        }

        function agregarAtributoControl(control, atributo, valor) {
            $("#" + control).attr(atributo, valor);
        }

        function quitarAtributoControl(control, atributo) {
            $("#" + control).removeAttr(atributo);
        }

        function quitarAgregarCheck(control,valor) {
            $("input:checkbox[id=" + control +"]").prop('checked', valor);
        }

        function limpiarCamposPrincipales() {
            $('#nombres_razSoc').val('');
            $('#apellidos_nomCom').val('');
            $('#fecNac_iniActv').val('');
            quitarAgregarCheck('chx_banco', false);
            quitarAgregarCheck('chx_cliente', false);
            quitarAgregarCheck('chx_proveedor', false);
            quitarAgregarCheck('chx_colaborador', false);
            quitarAgregarCheck('chx_afp', false);
            quitarAgregarCheck('chx_familiar', false);
            quitarAgregarCheck('chx_socio', false);
            agregarAtributoControl('imgFrente', 'src', '/images/perfilfrente.png');
        }

        function addImage(e) {

            let reader = new FileReader();

            reader.readAsDataURL(e.target.files[0]);

            reader.onload = function () {
                agregarAtributoControl('imgFrente', 'src', reader.result);
            };
        }

        function cargaTipoPersona() {
            $.ajax({
                url: "@Url.Action("ListarTipoPersonaCombo", "Configuracion")",
                type: "POST",
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (r) {
                    var x = JSON.parse(r);

                    $('#cboTipoPersona').empty();
                    $('#cboTipoPersona').append('<option value = "0">Sin Selección</option>');
                    if (x.respuestaTransaccion.p_idRespuesta > 0) {
                        var datos = x.eNT_TipoPersonaList;
                        for (var i = 0; i < datos.length; i++) {
                            $('#cboTipoPersona').append('<option value="' + datos[i].idTipoPersona + '" >' + datos[i].descripcion + '</option>');
                        }
                    }
                },
                error: function (mensaje, error, thrown, data) {
                    alert("Sucedió un error");
                }

            });
        }

        function cargaTipoDocIdentidad() {
            debugger;

            $("#cboTipoDocIdentidad").attr('disabled', 'disabled');
            var idTipoPersona = $('#cboTipoPersona').val();
            var ent = {
                "idTipoPersona": idTipoPersona
            }

            $.ajax({
                url: "@Url.Action("ListarTipoDocIdentidadCombo", "Configuracion")",
                data: ent,
                type: "POST",
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (r) {
                    var x = JSON.parse(r);

                    $('#cboTipoDocIdentidad').empty();
                    $('#cboTipoDocIdentidad').append('<option value = "0" cifrasValidacion = "10000" digitosExactos="0">Sin Selección</option>');
                    if (x.respuestaTransaccion.p_idRespuesta > 0) {
                        var datos = x.eNT_TipoDocIdentidadList;
                        for (var i = 0; i < datos.length; i++) {
                            $('#cboTipoDocIdentidad').append('<option value="' + datos[i].idTipoDocIdentidad +
                                '" cifrasValidacion="' + datos[i].cifrasValidacion + '" digitosExactos="' + datos[i].digitosExactos +
                                '" codSunat="' + datos[i].codSunat + '" >' + datos[i].descripcionCorta + '</option>');
                        }
                        $("#cboTipoDocIdentidad").removeAttr('disabled');
                    }
                },
                error: function (mensaje, error, thrown, data) {
                    alert("Sucedió un error");
                }

            });
        }

        function cargarActividadEconomica() {
            alert('cargo solo parapersona jurídica');
        }

        function ObtenerDatosPersona() {
            debugger;
            var documento = $('#documento').val();
            var codSunat = $("#documento").attr('codSunat');
            var tipoPersona = $("#cboTipoPersona").val();

            if (tipoPersona == 3) {
                if (!(documento.substring(0, 2) == "10")) {
                    toastr.error("Debe ser un RUC 10", "Error !!!",
                        { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });
                    $('#documento').val('');
                    return;
                }
            } else if (tipoPersona == 2) {
                if (documento.substring(0, 2) == "10") {
                    toastr.error("No debe ser un RUC 10", "Error !!!",
                        { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });
                    $('#documento').val('');
                    return;
                }
            }

            var ent = {
                "documento": documento,
                "codSunat": codSunat
            };

            $.ajax({
                url: "@Url.Action("ConsultaDNI_RUC", "RecursosHumanos")",
                data: ent,
                type: "POST",
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (r) {
                    var x = JSON.parse(r);

                    if (x.resultado == 1) {

                        entidadPersona = x;
                        codSunatElegido = codSunat;

                        if (codSunat == "06") {
                            $("#lblPersona").html("Se ha encontrado la Razon Social: " + x.RazonSocial);
                        }
                        else {
                            $("#lblPersona").html("Se ha enecontrado a la Persona: " + x.name + " " + x.first_name + " " + x.last_name);
                        }

                        $('#ModalBuscarPersona').modal('show');
                    }

                    quitarAtributoControl('datosEntidad', 'style');
                    quitarAtributoControl('cardRegistrar', 'style');
                    quitarAtributoControl('seccionBuscar', 'disabled');
                    limpiarCamposPrincipales();
                },
                error: function (mensaje, error, thrown, data) {
                    toastr.error("Sucedió un error", "Error !!!",
                        { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                }

            });
        }

        function nombrarControlesEntidad() {
            var persona = $('#cboTipoPersona').val();
            if (persona == 1) {
                $("#lbl_nombres_razSoc").html('Nombre(s)');
                $("#lbl_apellidos_nomCom").html('Apellidos');
                $("#lbl_fecNac_iniActv").html('Fecha de Nacimiento');

                agregarAtributoControl('nombres_razSoc', 'placeholder', 'Ingrese Nombre');
                agregarAtributoControl('apellidos_nomCom', 'placeholder', 'Ingrese Apellidos');
                agregarAtributoControl('fecNac_iniActv', 'placeholder', 'Ingrese Fecha de Nacimiento');
            }
            else {
                $("#lbl_nombres_razSoc").html('Razón Social');
                $("#lbl_apellidos_nomCom").html('Nombre Comercial');
                $("#lbl_fecNac_iniActv").html('Fecha de Inicio de Actividades');

                agregarAtributoControl('nombres_razSoc', 'placeholder', 'Ingrese Razon Social');
                agregarAtributoControl('apellidos_nomCom', 'placeholder', 'Ingrese Nombre Comercial');
                agregarAtributoControl('fecNac_iniActv', 'placeholder', 'Ingrese Fecha de Inicio de Actividades');
            }
        }

        function GuardarDatos() {
            var nombresRazSocial = $("#nombres_razSoc").val();
            var apellidosNomComp = $("#apellidos_nomCom").val();
            var fecNacIniActv = $("#fecNac_iniActv").val();
            var tipoPersona = $("#cboTipoPersona").val();
            var imagenPersona = $('#imgFrente').attr("src");
            var esbanco = ($('input:checkbox[id=chx_banco]:checked').val() == "on") ? 1 : 0;
            var escliente = ($('input:checkbox[id=chx_cliente]:checked').val() == "on") ? 1 : 0;
            var esproveedor = ($('input:checkbox[id=chx_proveedor]:checked').val() == "on") ? 1 : 0;
            var escolaborador = ($('input:checkbox[id=chx_colaborador]:checked').val() == "on") ? 1 : 0;
            var esafp = ($('input:checkbox[id=chx_afp]:checked').val() == "on") ? 1 : 0;
            var esfamiliar = ($('input:checkbox[id=chx_familiar]:checked').val() == "on") ? 1 : 0;
            var essocio = ($('input:checkbox[id=chx_socio]:checked').val() == "on") ? 1 : 0;


            if (tipoPersona == 0) {
                toastr.error("Seleccione <strong>Tipo de Persona</strong>. Por favor!",
                    "Advertencia !!!",
                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                return;
            }
            else if (parseInt(nombresRazSocial) > 0 || (nombresRazSocial == "")) {
                toastr.error("Ingrese <strong>Nombres o Razón Social</strong>. Por favor!",
                    "Advertencia !!!",
                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                return;
            }
            else
                if (parseInt(apellidosNomComp) < 0 || (apellidosNomComp == "")) {
                    toastr.error("Ingrese <strong>Apellidos o Nombre Completo</strong>. Por favor!",
                        "Advertencia !!!",
                        { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                    return;
                }
                else {
                    var ent = {
                        "nombresRazSocial": nombresRazSocial,
                        "apellidosNomComp": apellidosNomComp,
                        "fecNacIniActv": fecNacIniActv,
                        "idTipoPersona": tipoPersona,
                        "imagen": imagenPersona,
                        "esbanco": esbanco,
                        "escliente": escliente,
                        "esproveedor": esproveedor,
                        "escolaborador": escolaborador,
                        "esafp": esafp,
                        "esfamiliar": esfamiliar,
                        "essocio": essocio
                    }

                    $.ajax({
                        url: "@Url.Action("InsertaPersona", "RecursosHumanos")",
                        data: ent,
                        type: "POST",
                        datatype: "json",
                        content: "application/json; charset=utf-8",
                        success: function (r) {
                            var x = JSON.parse(r);
                            if (x.p_idRespuesta > 0) {
                                toastr.success(x.p_mensajeRespuesta, "Se guardó la información !!",
                                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });

                                quitarAtributoControl('cardRegistrar', 'style');
                                agregarAtributoControl('cardRegistrar', 'style','visibility:hidden');
                                quitarAtributoControl('datosEntidad', 'style');
                                agregarAtributoControl('datosEntidad', 'style', 'visibility:hidden');

                            } else {
                                toastr.error(x.p_mensajeRespuesta, "Advertencia !!!",
                                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                            }
                        },
                        error: function (mensaje, error, thrown, data) {
                            alert("Sucedió un error");
                        }
                    });

                }
        };

    </script>
}
