﻿@*@model Entidades.ENT_Usuario*@
@{
    ViewBag.Title = "Usuario";
}
@section AddToHead{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
}

@*@Html.HiddenFor(model => model.idPersona, new { @id = "id_eliminar" })*@

<div class="content-body">
    <div class="basic-list-group">
        <br />
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size:large">
                <h3><b>USUARIO</b></h3>
            </li>
        </ul>
        <br />
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row col-lg-12 col-sm-4">
                            <div class="col-xs-12">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-registro-tab" data-toggle="tab" href="#nav-registro" role="tab" aria-controls="nav-registro" aria-selected="false">Registro</a>
                                        <a class="nav-item nav-link" id="nav-edicion-tab" data-toggle="tab" href="#nav-edicion" role="tab" aria-controls="nav-edicion" aria-selected="false">Edición</a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-registro" role="tabpanel" aria-labelledby="nav-registro-tab" style="width:auto">
                                        <div class="row col-lg-12 col-sm-4">
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="usr" class="text-black">Persona</label>
                                                <select id="cboPersona" class="form-control letaco-input"></select>
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="usr" class="text-black">Usuario</label>
                                                <input type="text" id="usuario" class="form-control letaco-input" placeholder="Ingresar usuario" autocomplete="off" maxlength="15" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="usr" class="text-black">Contraseña</label>
                                                <input type="password" id="contrasena" class="form-control letaco-input" placeholder="Ingresar contraseña" autocomplete="off" maxlength="20" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="usr" class="text-black">Pregunta de Seguridad</label>
                                                <input type="text" id="preguntaSeguridad" class="form-control letaco-input" placeholder="Ingresar pregunta de seguridad" autocomplete="off" maxlength="200" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="usr" class="text-black">Respuesta</label>
                                                <input type="password" id="respuesta" class="form-control letaco-input" placeholder="Ingresar respuesta" autocomplete="off" maxlength="300" />
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <label for="usr" class="text-black"></label>
                                                <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="btnLimpiar"><i class="fa fa-eraser mr-1" aria-hidden="true"></i>Limpiar</button>
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <label for="usr" class="text-black"></label>
                                                <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="btnGuardar"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>Guardar</button>
                                            </div>
                                            <div class="col-lg-12 col-sm-4">
                                                <table id="tblUsuario" class="table table-striped table-bordered nowrap" style="width:100%">
                                                    <thead class="thead-dark text-center header" id="headInterno">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th class="text-center">Persona</th>
                                                            <th class="text-center">Usuario</th>
                                                            <th class="text-center">Estado</th>
                                                            <th class="text-center">Fecha de registro</th>
                                                            <th class="text-center">Usuario de registro</th>
                                                            <th class="text-center">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-edicion" role="tabpanel" aria-labelledby="nav-edicion-tab" style="width:auto">
                                        <div class="row col-lg-12 col-sm-4">
                                            <div class="col-lg-12 col-sm-4">
                                                <label for="ed_cboUsuario" class="text-black">Usuario a modificar</label>
                                                <select id="ed_cboUsuario" class="form-control letaco-input"></select>
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="ed_cboPersona" class="text-black">Persona</label>
                                                <select id="ed_cboPersona" class="form-control letaco-input" disabled="disabled"></select>
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="ed_usuario" class="text-black">Usuario</label>
                                                <input type="text" id="ed_usuario" class="form-control letaco-input" placeholder="Ingresar usuario" autocomplete="off" maxlength="15" disabled="disabled" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="usr" class="text-black">Contraseña</label>
                                                <input type="password" id="ed_contrasena" class="form-control letaco-input" placeholder="Ingresar contraseña" autocomplete="off" maxlength="20" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="ed_preguntaSeguridad" class="text-black">Pregunta de Seguridad</label>
                                                <input type="text" id="ed_preguntaSeguridad" class="form-control letaco-input" placeholder="Ingresar pregunta de seguridad" autocomplete="off" maxlength="200" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label for="ed_respuesta" class="text-black">Respuesta</label>
                                                <input type="password" id="ed_respuesta" class="form-control letaco-input" placeholder="Ingresar respuesta" autocomplete="off" maxlength="300" />
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <br /><br />
                                                <input type="checkbox" id="chx_ed_estado" class="checkbox-inline" style="cursor:pointer" />
                                                <label id="lbl_ed_estado" for="chx_ed_estado" class="text-black">&nbsp;Estado</label>
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <label for="ed_btnLimpiar" class="text-black"></label>
                                                <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="ed_btnLimpiar"><i class="fa fa-eraser mr-1" aria-hidden="true"></i>Limpiar</button>
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <label for="ed_btnGuardar" class="text-black"></label>
                                                <button class="btn btn-block btn-lg btn-primary-letaco btn sweet-success" id="ed_btnGuardar"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>Editar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">CONFIRMAR ELIMINACIÓN DE REGISTRO DE USUARIO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <h3>¿Seguro de eliminar al usuario "<label id="usuarioEliminar"></label>"?</h3>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card-body">
                                    <div class="row mt-4">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary-letaco letaco-button" style="vertical-align: middle;" data-dismiss="modal">NO</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary-letaco letaco-button " style="vertical-align: middle;" name="btnAceptarE" id="btnAceptarE" data-dismiss="modal">SI</button>
                                            <input type="hidden" id="idUsuarioEliminar" />
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var table_usuario = null;

        var cfg_tbl_espaniol = {
            "sProcessing": "Procesando...",
            "processing": "Refrescando data...",
            "lengthMenu": "Número de registros _MENU_ por página",
            "zeroRecords": "No se encontraron registros.",
            "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros en total",
            "infoEmpty": "No hay registros.",
            "infoFiltered": "",
            "search": "Buscar",
            "sLoadingRecords": big_tag_spinner,
            "paginate": {
                "first": "<span class=\"icon fa fa-angle-double-left\"></span>",
                "previous": "<span class=\"icon fa fa-angle-left\"></span>",
                "next": "<span class=\"icon fa fa-angle-right\"></span>",
                "last": "<span class=\"icon fa fa-angle-double-right\"></span>"
            }
        };

        jQuery(document).ready(function () {
            cargaPersonaCombo();
            cargaUsuarioCombo();
            ListarUsuario();

            $('.micalendario, #datepicker').datepicker({
                language: "es",
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

        });

        $("#btnLimpiar").click(function () {
            limpiarControles(1);
        });

        $("#ed_btnLimpiar").click(function () {
            limpiarControles(2);
        });

        $("#btnGuardar").click(function () {
            GuardarUsuario();
        });

        $("#ed_btnGuardar").click(function () {
            EditarUsuario();
        });

        $("#btnAceptarE").click(function () {
            var idUsuarioEliminar = $("#idUsuarioEliminar").val();
            var usuarioEliminar = $("#usuarioEliminar").html();
            EliminarUsuario(idUsuarioEliminar, usuarioEliminar);
        });

        $("#usuario").keypress(function (e) {
            return validaTeclaUsuario(e);
        });

        $("#ed_usuario").keypress(function (e) {
            return validaTeclaUsuario(e);
        });

        $("#contrasena").keypress(function (e) {
           return validaTeclaContrasenia(e)
        });

        $("#ed_contrasena").keypress(function (e) {
            return validaTeclaContrasenia(e)
        });

        $("#ed_cboUsuario").change(function () {
            var idUsuarioEditar = $("#ed_cboUsuario").val();
            ListarUsuarioEditar(idUsuarioEditar);
        });

        function validaTeclaUsuario(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toString();
            letras = "áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
            especiales = [8]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
            return true;
        }

        function validaTeclaContrasenia(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toString();
            letras = "áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ1234567890_-#$%&/*+¿?!¡=°().,;";
            especiales = [8];
            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
            return true;
        }

        function limpiarControles(indicador) {
            if (indicador == 1) {
                $('#usuario').val('');
                $('#contrasena').val('');
                $('#preguntaSeguridad').val('');
                $('#respuesta').val('');
                $('#cboPersona').val(0);
            } else {
                $('#ed_usuario').val('');
                $('#ed_contrasena').val('');
                $('#ed_preguntaSeguridad').val('');
                $('#ed_respuesta').val('');
                $('#ed_cboPersona').val(0);
                $('#ed_cboUsuario').val(0);
                $("#chx_ed_estado").removeAttr("checked");
            }
        }

        function cargaPersonaCombo() {
            $.ajax({
                url: "@Url.Action("ListarPersonaCombo", "RecursosHumanos")",
                data: { tipoListado: 1 },
                type: "POST",
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (r) {
                    var x = JSON.parse(r);

                    $('#cboPersona').empty();
                    $('#cboPersona').append('<option value = "0">Sin Selección</option>');
                    $('#ed_cboPersona').empty();
                    $('#ed_cboPersona').append('<option value = "0">Sin Selección</option>');
                    if (x.respuestaTransaccion.p_idRespuesta > 0) {
                        var datos = x.eNT_PersonaList;
                        for (var i = 0; i < datos.length; i++) {
                            $('#cboPersona').append('<option value="' + datos[i].idPersona + '">' + datos[i].nombreCompleto + '</option>');
                            $('#ed_cboPersona').append('<option value="' + datos[i].idPersona + '">' + datos[i].nombreCompleto + '</option>');
                        }
                    }
                },
                error: function (mensaje, error, thrown, data) {
                    alert("Sucedió un error");
                }

            });
        }

        function cargaUsuarioCombo() {
            $.ajax({
                url: "@Url.Action("ListarUsuarioCombo", "RecursosHumanos")",
                data: { tipoListado: 1 },
                type: "POST",
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (r) {
                    var x = JSON.parse(r);

                    $('#ed_cboUsuario').empty();
                    $('#ed_cboUsuario').append('<option value = "0">Sin Selección</option>');
                    if (x.respuestaTransaccion.p_idRespuesta > 0) {
                        var datos = x.eNT_UsuarioList;
                        for (var i = 0; i < datos.length; i++) {
                            $('#ed_cboUsuario').append('<option value="' + datos[i].idUsuario + '">' + datos[i].usuario + ' - ' + datos[i].nombrePersona + ' - ' + datos[i].descripcionEstado + '</option>');
                        }
                    }
                },
                error: function (mensaje, error, thrown, data) {
                    alert("Sucedió un error");
                }
            });
        }

        function DeshabilitarTabEspecifico(tab, esconder) {
            if (esconder == 1) {
                $("#nav-" + tab).attr('style', 'visibility:hidden');
                $("#nav-" + tab + "-tab").attr('style', 'visibility:hidden');
            }
            $("#nav-" + tab).attr('class', 'tab-pane fade');
            $("#nav-" + tab + "-tab").attr('class', 'nav-item nav-link');
            $("#nav-" + tab + "-tab").attr('aria-selected', 'false');
        }

        function habilitarTabEspecifico(tab, activar) {
            $("#nav-" + tab).removeAttr('style');
            $("#nav-" + tab + "-tab").removeAttr('style');
            if (activar == 1) {
                $("#nav-" + tab).attr('class', 'tab-pane fade show active');
                $("#nav-" + tab + "-tab").attr('class', 'nav-item nav-link active');
                $("#nav-" + tab + "-tab").attr('aria-selected', 'true');
            }
        }

        function GuardarUsuario() {
            var usuario = $("#usuario").val();
            var clave = $("#contrasena").val();
            var pregunta = $("#preguntaSeguridad").val();
            var respuesta = $("#respuesta").val();
            var persona = $("#cboPersona").val();

            if (persona == 0) {
                toastr.error("Seleccione <strong>Persona</strong> a asignar usuario. Por favor!",
                    "Advertencia !!!",
                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                return;
            }
            else if (parseInt(usuario) > 0 || (usuario == "")) {
                toastr.error("Ingrese <strong>Usuario</strong>. Por favor!",
                    "Advertencia !!!",
                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                return;
            }
            else
                if (parseInt(clave) < 0 || (clave == "")) {
                    toastr.error("Ingrese <strong>Contraseña</strong>. Por favor!",
                        "Advertencia !!!",
                        { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                    return;
                }
                else {
                    var ent = {
                        "usuario": usuario,
                        "clave": clave,
                        "pregunta": pregunta,
                        "respuesta": respuesta,
                        "idpersona": persona
                    }

                    $.ajax({
                        url: "@Url.Action("InsertarUsuario","RecursosHumanos")",
                        data: ent,
                        type: "POST",
                        datatype: "json",
                        content: "application/json; charset=utf-8",
                        success: function (r) {
                            var x = JSON.parse(r);
                            if (x.p_idRespuesta > 0) {
                                toastr.success(x.p_mensajeRespuesta, "Se guardó la información !!",
                                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });
                                limpiarControles(1);
                                $("#tblUsuario").DataTable().ajax.reload();
                                cargaUsuarioCombo();
                            } else {
                                toastr.error(x.p_mensajeRespuesta, "Advertencia !!!",
                                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                            }
                        },
                        error: function (mensaje, error, thrown, data) {
                            alert("Sucedió un error");
                        }
                    });
                }
        };

        function EditarUsuario() {
            var usuario = $("#ed_usuario").val();
            var clave = $("#ed_contrasena").val();
            var pregunta = $("#ed_preguntaSeguridad").val();
            var respuesta = $("#ed_respuesta").val();
            var persona = $("#ed_cboPersona").val();
            var estado = ($('input:checkbox[id=chx_ed_estado]:checked').val() == "on") ? 1 : 0;
            var idUsuario = $("#ed_cboUsuario").val();

            if (persona == 0) {
                toastr.error("Seleccione <strong>Persona</strong> a asignar usuario. Por favor!",
                    "Advertencia !!!",
                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                return;
            }
            else if (parseInt(usuario) > 0 || (usuario == "")) {
                toastr.error("Ingrese <strong>Usuario</strong>. Por favor!",
                    "Advertencia !!!",
                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                return;
            }
            else
                if (parseInt(clave) < 0 || (clave == "")) {
                    toastr.error("Ingrese <strong>Contraseña</strong>. Por favor!",
                        "Advertencia !!!",
                        { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                    return;
                }
                else {
                    var ent = {
                        "idUsuario": idUsuario,
                        "usuario": usuario,
                        "clave": clave,
                        "pregunta": pregunta,
                        "respuesta": respuesta,
                        "idpersona": persona,
                        "estado": estado
                    }

                    $.ajax({
                        url: "@Url.Action("EditarUsuario","RecursosHumanos")",
                        data: ent,
                        type: "POST",
                        datatype: "json",
                        content: "application/json; charset=utf-8",
                        success: function (r) {
                            var x = JSON.parse(r);
                            if (x.p_idRespuesta > 0) {
                                toastr.success(x.p_mensajeRespuesta, "Se Editó la información !!",
                                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });
                                limpiarControles(2);
                                $("#tblUsuario").DataTable().ajax.reload();
                                cargaUsuarioCombo();
                                DeshabilitarTabEspecifico('edicion', 0);
                                habilitarTabEspecifico('registro', 1);
                            } else {
                                toastr.error(x.p_mensajeRespuesta, "Advertencia !!!",
                                    { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                            }
                        },
                        error: function (mensaje, error, thrown, data) {
                            alert("Sucedió un error");
                        }
                    });
                }
        };

        function ListarUsuario() {
            debugger;
            var param = {
                idUsuario: 0,
                estado: 1
            }
            table_usuario = null;

            table_usuario = $("#tblUsuario").DataTable({
                retrieve: true,
                "orderClasses": false,
                "stateSave": false,
                "autoWidth": false,
                "width": true,
                "destroy": true,
                "order": [[0, "desc"]],
                "columnDefs": [{
                    "defaultContent": "-"
                }],
                "ajax": {
                    "type": "POST",
                    "url": "@Url.Action("ListarUsuario", "RecursosHumanos")",
                    //"content": "application/json; charset=utf-8",
                    "dataType": "json",
                    "data": param,
                    "dataSrc": function (d) {
                        debugger;
                        var xjson = JSON.parse(d);
                        var listausuarios = xjson.eNT_UsuarioList;
                        if (xjson.respuestaTransaccion.p_idRespuesta <= 0) {
                            toastr.error(xjson.respuestaTransaccion.p_mensajeRespuesta, "Advertencia !!!", { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                        }
                        return listausuarios;//d.data;
                    }
                },
                "columns": [
                    { "data": "idUsuario", "class": "text-center" },
                    { "data": "nombrePersona", "class": "text-center" },
                    { "data": "usuario", "class": "text-center" },
                    {
                        "data": "estado", "class": "text-center", "render": function (data, type, row) {
                            var texto = row.descripcionEstado;
                            if (data == 1)
                                return '<span class="badge badge-success" align="center">' + texto +'</span>';
                            else
                                return '<span class="badge badge-danger">' + texto + '</span>';
                        }, "orderable": false
                    },
                    {
                        "data": "fechaReg", "class": "text-center","render": function (data, type, row) {
                            var fecha = new Date(data);
                            var dia = (fecha.getDate() >= 10) ? fecha.getDate() : '0' + fecha.getDate();
                            var mes = ((fecha.getMonth() + 1) >= 10) ? (fecha.getMonth() + 1) : '0' + (fecha.getMonth() + 1);
                            var anio = fecha.getFullYear();
                            var fechaString = dia + '/' + mes + '/' + anio;
                            return fechaString;
                        }, "orderable": false
                    },
                    { "data": "nombreUsuarioReg", "class": "text-center" },
                    {
                        "render": function (data, type, row) {
                            var salida = "";
                            var salida = "<div class='text-center'>";
                            {
                                salida = salida + "<a href='#' onclick='UsuarioDelete("+ row.idUsuario + "," +'"' +  row.usuario + '"' + ")'> <span class='fa-stack' aria-hidden='true'><i class='fas fa-trash-alt fa-stack-2x ' aria-hidden='true' data-toggle='modal'  title='Eliminar Usuario'></i></span>&nbsp;&nbsp;</a>";
                            }
                            salida = salida + "</div>";
                            return salida
                        }

                    }
                ],
                "language": cfg_tbl_espaniol
            })
        };

        function ListarUsuarioEditar(idUsuarioEditar) {
            $.ajax({
                url: "@Url.Action("ListarUsuario", "RecursosHumanos")",
                data: { idUsuario: idUsuarioEditar, estado: 0 },
                type: "POST",
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (r) {
                    var x = JSON.parse(r);

                    if (x.respuestaTransaccion.p_idRespuesta > 0) {
                        data = x.eNT_UsuarioList
                        $("#ed_usuario").val(data[0].usuario);
                        $("#ed_contrasena").val(data[0].clave);
                        $("#ed_preguntaSeguridad").val(data[0].preguntaSeguridad);
                        $("#ed_respuesta").val(data[0].respuesta);
                        $("#ed_cboPersona").val(data[0].idPersona);
                        if (data[0].estado == 1)
                            $("#chx_ed_estado").attr("checked", true);
                    }
                },
                error: function (mensaje, error, thrown, data) {
                    alert("Sucedió un error");
                }
            });
        }

        function EliminarUsuario(idUsuarioEliminar, usuarioEliminar) {            
            $.ajax({
                type: 'POST',
                url: "@Url.Action("EliminarUsuario", "RecursosHumanos")",
                data: {
                    idUsuario: idUsuarioEliminar
                },
                success: function (r) {
                    var x = JSON.parse(r);
                    if (x.p_idRespuesta > 0) {
                        toastr.success(usuarioEliminar + " - " + x.p_mensajeRespuesta, "Se eliminó la información !!",
                            { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });
                    }
                    else {
                        toastr.error(usuarioEliminar + " - " + x.p_mensajeRespuesta, "Error en eliminación !!",
                            { positionClass: "toast-top-right", timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 });
                    }

                    $("#btnAceptarE").removeAttr("data-toggle");
                    $("#tblUsuario").DataTable().ajax.reload();
                }
            });

            $("#idUsuarioEliminar").val('');
            $("#usuarioEliminar").html('');
        }

        function UsuarioDelete(idUsuarioFilaEliminar, usuarioEliminar) {
            $("#idUsuarioEliminar").val(idUsuarioFilaEliminar);
            $("#usuarioEliminar").html(usuarioEliminar);
            $('#ModalEliminarUsuario').modal('show');
        }

    </script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    @*<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>*@
}
