<!-- Right Panel -->
<div id="center-panel" class="center-panel">
  <!-- Header-->
    <header id="header" class="header"><br><br><br></header>
  <!-- /#header -->
  <!-- Content -->
  <div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!--  Traffic  -->
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h2>Iniciar Sesión</h2><br>
                <div class="row">
                  <div class="col-lg-5">
                    <img class="image" src="assets/images/letras_negras.png" alt="Logo">
                  </div>
                  <div class="col-lg-7">
                    <label class="label-primary">{{ labelUsuario }}</label><br>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="{{labelUsuario}}" maxlength="{{maximousuario}}" [(ngModel)]="login.usuario">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    </div>
                    <br>
                    <label class="label-primary">{{ labelContrasenia }}</label><br>
                    <div class="input-group">
                      <input type="password" class="form-control" placeholder="{{ labelContrasenia }}" maxlength="{{maximocontrasenia}}" [(ngModel)]="login.clave">
                      <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    </div>
                    <br>
                    <label>
                      <input type="checkbox">
                      <i class="check-box"></i>
                      <span> Recordarme</span>
                    </label>
                    <br>
                    <button type="button" 
                            class="btn btn-success btn-lg btn-block"
                            (click)="Login()" >
                      {{ btnIniciarSesion }}
                    </button>
                  </div>                      
                </div>
              </div>
            </div>
          </div><!-- /# column -->          
        </div>
        <!--  /Traffic -->
    </div>
    <!-- .animated -->
  </div>
  <!-- /.content -->
</div>
<!-- /#right-panel -->