﻿@{
    ViewBag.Title = "HistorialVentas";
}

<div class="content-body">
    <div class="basic-list-group">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size:large"><b>HISTORIAL DE VENTAS</b></li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>Aquí poner el cuerpo !!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

