﻿@*@{
        ViewData["Title"] = "TablaSUNAT";
    }*@
@{
    ViewBag.Title = "TablaSUNAT";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-body">

        @*<div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>*@
        <div class="basic-list-group">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-size:large"><b>TABLA SUNAT</b></li>
            </ul>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p>Aquí poner el cuerpo !!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
