﻿body {
}

.pdfImpresion {
    float: left;
    margin-top: 0px
}
.cabeceraPdf {
    color: #0d0d0d;
    font-size: 20px;
    text-align: center;
    margin-top: 80px;

}
.cabeceraPdf a{
    color: #0d0d0d;
    
}
.metodo {
    text-align: center;
}

