﻿   .imgFotoReniecInterno {
                height: 180px;
                width: 141px;
            }
                        .toast-top-right {
            top: 3px;
            right: 17px;
        }

    .toast-top-right {
        top: 3px;
        right: 17px;
    }
    /* This is the default state */
    .custom-radio .custom-control-label::before {
        background-color: #babdbf; /* orange */
    }

    /* This is the checked state */
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #a10016; /* green */
        /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
        border-radius: 50%;
    }

    /* active state i.e. displayed while the mouse is being pressed down */
    .custom-radio .custom-control-input:active ~ .custom-control-label::before {
        color: #fff;
        background-color: #a10016; /* red */
    }

    /* the shadow; displayed while the element is in focus */
    .custom-radio .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(161, 0, 22, 0.3); /* pink, 25% opacity */
    }

    /*RADIO BUTOON*/

    .switch-field {
        display: flex;
        margin-bottom: 36px;
        overflow: hidden;
    }

        .switch-field input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;
        }

        .switch-field label {
            background-color: #babdbf;
            /*color: rgba(0, 0, 0, 0.6);*/
            color: white;
            font-size: 14px;
            line-height: 1;
            text-align: center;
            padding: 8px 16px;
            margin-right: -1px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            transition: all 0.1s ease-in-out;
        }

            .switch-field label:hover {
                cursor: pointer;
            }

        .switch-field input:checked + label {
            background-color: #a10016;
            box-shadow: none;
        }

        .switch-field label:first-of-type {
            border-radius: 4px 0 0 4px;
        }

        .switch-field label:last-of-type {
            border-radius: 0 4px 4px 0;
        }

    /* This is just for CodePen. */

    .form {
        max-width: 600px;
        font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
        font-weight: normal;
        line-height: 1.625;
        margin: 8px auto;
        padding: 16px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }
